.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.logo {
  max-width: 120px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2.5rem;
}

.fields > :last-child {
  margin-top: 3rem;
}
