.selector {
  --p-inline: 8px;
  position: relative;
  display: block;
  width: 100%;
  max-width: 550px;
  height: 32px;
  background: var(--white);
  padding-inline: var(--p-inline);
  padding-block: 0.5rem;
  text-align: left;
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
  cursor: pointer;
  transform-style: preserve-3d;
}

.selector:focus {
  border: 1px solid var(--red);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: var(--p-inline);
  transform: translateY(-50%);
  color: var(--grey);
  pointer-events: none;
  transition: top var(--transition-speed) linear,
    font-size var(--transition-speed) ease-in-out,
    color var(--transition-speed) ease-in-out;
}

.open .placeholder,
.placeholder.placeholderUp {
  top: 0;
  font-size: 0.7em;
  line-height: 2px;
  background-color: var(--white);
  color: var(--black);
}

.caret {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  right: var(--p-inline);
  width: 0.8rem;
  transition: transform var(--transition-speed) ease-in-out;
}

.open .caret {
  transform: translateY(-50%) rotate(180deg);
}

.options {
  position: absolute;
  left: -1px;
  top: 0;
  width: calc(100% + 2px);
  border: 1px solid var(--red);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  opacity: 0;
  pointer-events: none;
  transform: translateZ(-1px);
  overflow: hidden;
  transition: top var(--transition-speed) ease-in-out,
    opacity var(--transition-speed) ease-in-out;
}

.options li {
  padding-inline: var(--p-inline);
  padding-block: 0.5rem;
}

.options li.selected {
  background-color: var(--red);
  color: var(--white);
}

.options li:not(:last-child) {
  border-bottom: 1px solid var(--red);
}

.options li:not(.selected):hover {
  background-color: #eeeeee;
}

.options.optionsVisible {
  opacity: 1;
  top: 100%;
  pointer-events: all;
}
