.container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  /* display: inline-block; */
}

.title-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.title-row button {
  margin-left: auto;
  width: 15%;
}

.inputs-container {
  display: flex;
  gap: 4rem;
}

.images {
  display: flex;
  gap: 4rem;
}

.text-row {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}
