@font-face {
  font-family: Inter;
  src: url("./assets/font/Inter.ttf");
  font-weight: 100 900;
}

:root {
  --beije: #262E36;
  --success: #5CB85C;
  --success-700: #408140;
  --warning: #ffbb01;
  --warning-700: #FF9E01;
  --grey-700: hsl(207, 18%, 25%);
  --grey-500: hsl(207, 18%, 50%);
  --grey-300: hsl(207, 18%, 75%);
  --red-700: hsl(8, 90%, 25%);
  --red-500: hsl(8, 90%, 35%);
  --white: #fff;
  --bg-container: #EFEFEF;
  --bs: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.1;
  font-family: Inter, Helvetica, sans-serif;
  font-size: clamp(14px, calc(1px + 1.8vmin), 40px);
  color: var(--grey-700);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

.hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.ps {
  margin-left: 2rem;
}

.fxc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 4px;
  background-color: var(--red-500);
  color: var(--white);
  border: 1px solid var(--red-500);
  cursor: pointer;
  box-shadow: var(--bs);
}

.secondary-button {
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 4px;
  background-color: var(--grey-500);
  color: var(--white);
  border: 1px solid var(--grey-500);
  cursor: pointer;
  box-shadow: var(--bs);
}

.success-button {
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 4px;
  margin: 0 1rem;
  background-color: var(--success);
  color: var(--white);
  border: 1px solid var(--success);
  cursor: pointer;
  box-shadow: var(--bs);
}

.warning-button {
  /* padding-inline: 10px; */
  /* padding-block: 8px; */
  border-radius: 4px;
  background-color: var(--warning);
  color: var(--white);
  border: 1px solid var(--warning);
  cursor: pointer;
  width: 50%;
  padding: .7rem;
  box-shadow: var(--bs);
}

a.primary-button, a.secondary-button , a.success-button, a.warning-button  {
  text-decoration: none;
}

.primary-button:hover {
  background-color: var(--red-700);
  border-color: var(--red-700);
}

.secondary-button:hover {
  background-color: var(--grey-700);
  border-color: var(--grey-700);
}

.success-button:hover {
  background-color: var(--success-700);
  border-color: var(--success-700);
}

.warning-button:hover {
  background-color: var(--warning-700);
  border-color: var(--warning-700);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 5px;
  }
}
